.header {
  position: fixed;
  top: 0;
  z-index: 100;

  &__logo {
    content: url('https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg');
  }

  &__name {
    font-size: 22px;
    color: #5F6368;
    font-weight: 400;
    margin-left: 4px;
  }
}
